<h1 mat-dialog-title>Ajouter une Unité de Mesure</h1>
<form [formGroup]="generalForm">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput required formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Code</mat-label>
            <input matInput required formControlName="code">
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="close()">Annuler</button>
        <button mat-raised-button cdkFocusInitial color="primary" [disabled]="!generalForm.valid"
            (click)="add()">Ajouter</button>
    </div>
</form>