<div>
    <div class="component-header">
      <h1>Famille/Sous Familles</h1>
    </div>
    <div class="component-filters">
      <form class="form">
        <mat-form-field class="input">
          <mat-label>Nom Famille</mat-label>
          <input matInput placeholder="Ex. Poulet" name="f.name" [(ngModel)]="criteria.categoryName">
        </mat-form-field>
      
        <mat-form-field class="input">
          <mat-label>Code Famille</mat-label>
          <input matInput placeholder="Ex. 001" name="f.code" [(ngModel)]="criteria.categoryCode">
        </mat-form-field>
        <mat-form-field class="input">
            <mat-label>Nom S.Famille</mat-label>
            <input matInput placeholder="Ex. Abat Poulet" name="sf.name" [(ngModel)]="criteria.name">
          </mat-form-field>
        
          <mat-form-field class="input">
            <mat-label>Code S.Famille</mat-label>
            <input matInput placeholder="Ex. 001" name="sf.code" [(ngModel)]="criteria.code">
          </mat-form-field>
          
        <button mat-raised-button color="primary" class="button" (click)="search()">Rechercher</button>
        <button mat-raised-button color="primary" class="button" (click)="openAddDialog()">Ajouter</button>
      </form>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">
  
        <!-- F.Code Column -->
        <ng-container matColumnDef="f.code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code Famille</th>
            <td mat-cell *matCellDef="let element"> {{element.category.code}} </td>
          </ng-container>
        <!-- F.Name Column -->
        <ng-container matColumnDef="f.name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom Famille </th>
          <td mat-cell *matCellDef="let element"> {{element.category.name}} </td>
        </ng-container>
  

        <!-- SF.Code Column -->
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Code S.Famille</th>
            <td mat-cell *matCellDef="let element"> {{element.code}} </td>
          </ng-container>

        <!-- SF.Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom S.Famille </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
  
  
        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let element"> 
            <!--<button mat-mini-fab aria-label="Détails">
              <mat-icon>remove_red_eye</mat-icon>
            </button>-->
            <button mat-mini-fab aria-label="Modifier">
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator [length]="globalPayload.totalNumberOfElements" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons
        (page)="onPaginationChange($event)"></mat-paginator>
    </div>
  </div>